*.directory
*.pyc
jeff-qt/examples/darknet-image-recognition/darknet
jeff-qt/examples/darknet-image-recognition/recognized
jeff-qt/examples/vosk-voice-input/models
jeff-core/target
jeff-core/Cargo.lock
