[submodule "jeff-qt/lib/Yelloger"]
	path = jeff-qt/lib/Yelloger
	url = https://github.com/danielblagy/Yelloger
[submodule "jeff-qt/lib/hoedown"]
	path = jeff-qt/lib/hoedown
	url = https://github.com/hoedown/hoedown
