[submodule "jeff-desktop/lib/hoedown"]
	path = jeff-desktop/lib/hoedown
	url = https://github.com/hoedown/hoedown
[submodule "jeff-desktop/lib/yelloger"]
	path = jeff-desktop/lib/yelloger
	url = https://github.com/markcda/yelloger
