*.directory
__pycache__
jeff-api/dist
jeff-api/src/*.egg-info
extensions/gpt3-server/credentials.py
extensions/gpt3-server/proxy-scraper
extensions/vosk-voice-input-daemon/models
extensions/yolo-server/darknet
extensions/yolo-server/recognized
jeff-qt/cmake-build-*
jeff-qt/target
jeff-core/Cargo.lock
jeff-core/target
extensions/alice-aiml-server/brain.brn
extensions/alice-aiml-server/sessions.brn
extensions/google-tts-server/tts-creds.json
extensions/wolfram-alpha-server/credentials.py
