*.directory
*.pyc
jeff-api/dist
jeff-api/src/*.egg-info
jeff-qt/examples/darknet-image-recognition/darknet
jeff-qt/examples/darknet-image-recognition/recognized
jeff-qt/examples/vosk-voice-input/models
jeff-qt/target
jeff-core/Cargo.lock
jeff-core/target
