[submodule "jeff-qt/lib/maddy"]
	path = jeff-qt/lib/maddy
	url = https://github.com/progsource/maddy
[submodule "jeff-qt/lib/Yelloger"]
	path = jeff-qt/lib/Yelloger
	url = https://github.com/danielblagy/Yelloger
